[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{ controller_internal_ip }} \
  --allow-privileged=true \
  --apiserver-count=3 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file={{ kubernetes_control_plane_lib_location }}/ca.pem \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --etcd-cafile={{ kubernetes_control_plane_lib_location }}/ca.pem \
  --etcd-certfile={{ kubernetes_control_plane_lib_location }}/kubernetes.pem \
  --etcd-keyfile={{ kubernetes_control_plane_lib_location }}/kubernetes-key.pem \
  --etcd-servers=https://{{ controller_internal_ip }}:2379 \
  --event-ttl=1h \
  --encryption-provider-config={{ kubernetes_control_plane_lib_location }}/encryption-config.yaml \
  --kubelet-certificate-authority={{ kubernetes_control_plane_lib_location }}/ca.pem \
  --kubelet-client-certificate={{ kubernetes_control_plane_lib_location }}/kubernetes.pem \
  --kubelet-client-key={{ kubernetes_control_plane_lib_location }}/kubernetes-key.pem \
  --kubelet-https=true \
  --runtime-config='api/all=true' \
  --service-account-key-file={{ kubernetes_control_plane_lib_location }}/service-account.pem \
  --service-cluster-ip-range=10.32.0.0/24 \
  --service-node-port-range=30000-32767 \
  --tls-cert-file={{ kubernetes_control_plane_lib_location }}/kubernetes.pem \
  --tls-private-key-file={{ kubernetes_control_plane_lib_location }}/kubernetes-key.pem \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target