[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
  --config={{ kubernetes_control_plane_config_scheduler }} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target